
:root{
    --key-size:48px;
    
}

.keysContainer{
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;

}

.keyboardKey{
    width: var(--key-size);
    height: var(--key-size);
    margin: 0.5em;

}

.hiddenWord {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.invisible {
    display: none;
}

.letterBox {
    display: inline-block;
    border-bottom: 2px solid black;
    margin: 5px;
    width: 1em;
}

.letterBox p {
    padding: 0;
    margin: 0;
}